{% extends 'base.html' %}
{% block title %}
Homepage
{% endblock title %}
{% block content %}
<div class="container">
<h1 class="py-3">Homepage</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem fugiat ipsum deleniti, saepe necessitatibus dicta est officiis temporibus, consequuntur illo quos. Exercitationem asperiores eum illo molestiae nobis quis iure itaque!
Maxime, deserunt accusamus sit amet aliquid vitae dolorum delectus obcaecati totam, architecto praesentium, laboriosam cum debitis. Debitis necessitatibus assumenda quam consectetur laborum quibusdam molestiae, at nisi, sint fugit non cupiditate.
Veniam sunt consequatur libero! Eaque consectetur eos dolorum quos deleniti amet. Magnam architecto dignissimos nobis ut, provident, voluptas ducimus earum nam rerum fugiat expedita! Nihil sit quaerat non provident aliquid.
Rerum cumque possimus sapiente illo qui earum corporis, libero, aspernatur ipsa iure aliquid eos praesentium doloribus dolores? Rerum non dolores officia quis enim tenetur iure voluptatum nisi voluptatibus. Voluptate, sint!
Modi hic nostrum voluptate doloribus consequatur esse facilis ullam molestias, voluptatum blanditiis rem libero iusto ipsa et quod itaque! Placeat minima blanditiis error repudiandae qui dicta esse consectetur commodi fugit.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem fugiat ipsum deleniti, saepe necessitatibus dicta est officiis temporibus, consequuntur illo quos. Exercitationem asperiores eum illo molestiae nobis quis iure itaque!
    Maxime, deserunt accusamus sit amet aliquid vitae dolorum delectus obcaecati totam, architecto praesentium, laboriosam cum debitis. Debitis necessitatibus assumenda quam consectetur laborum quibusdam molestiae, at nisi, sint fugit non cupiditate.
    Veniam sunt consequatur libero! Eaque consectetur eos dolorum quos deleniti amet. Magnam architecto dignissimos nobis ut, provident, voluptas ducimus earum nam rerum fugiat expedita! Nihil sit quaerat non provident aliquid.
    Rerum cumque possimus sapiente illo qui earum corporis, libero, aspernatur ipsa iure aliquid eos praesentium doloribus dolores? Rerum non dolores officia quis enim tenetur iure voluptatum nisi voluptatibus. Voluptate, sint!
    Modi hic nostrum voluptate doloribus consequatur esse facilis ullam molestias, voluptatum blanditiis rem libero iusto ipsa et quod itaque! Placeat minima blanditiis error repudiandae qui dicta esse consectetur commodi fugit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem fugiat ipsum deleniti, saepe necessitatibus dicta est officiis temporibus, consequuntur illo quos. Exercitationem asperiores eum illo molestiae nobis quis iure itaque!
        Maxime, deserunt accusamus sit amet aliquid vitae dolorum delectus obcaecati totam, architecto praesentium, laboriosam cum debitis. Debitis necessitatibus assumenda quam consectetur laborum quibusdam molestiae, at nisi, sint fugit non cupiditate.
        Veniam sunt consequatur libero! Eaque consectetur eos dolorum quos deleniti amet. Magnam architecto dignissimos nobis ut, provident, voluptas ducimus earum nam rerum fugiat expedita! Nihil sit quaerat non provident aliquid.
        Rerum cumque possimus sapiente illo qui earum corporis, libero, aspernatur ipsa iure aliquid eos praesentium doloribus dolores? Rerum non dolores officia quis enim tenetur iure voluptatum nisi voluptatibus. Voluptate, sint!
        Modi hic nostrum voluptate doloribus consequatur esse facilis ullam molestias, voluptatum blanditiis rem libero iusto ipsa et quod itaque! Placeat minima blanditiis error repudiandae qui dicta esse consectetur commodi fugit.</p>
</div>
{% endblock content %}