{% extends 'base.html' %}
{% block title %} My blog {% endblock title %}
 {% block content %}

<div class="container-fluid py-5">
<h1 class="text-center mb-5">My blog</h1>

      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
 {% comment %} <div class="sidebar">
      <div class="list-group py-3">
        {% if category_selected == 0 %}
        <h5 class="text-center">All posts</h5>
        {% else %}
        <a href="{% url 'blog:blog' %}" class="list-group-item list-group-item-action" aria-current="true">All posts</a>
        {% endif %}
      
        {% for item in allcategories %}
       <div class="link_category">
          <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">{{ item.name_category }}</a>
       </div>
       {% endfor %} 
      </div>
</div>   {% endcomment %}

{% include '_inc/_sidebar.html' %}
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="row">
            
        {% if object_list %}
        {% for post in object_list %}
       <div class="col-md-4 col-sm-6 col-xs-12">
         <div class="card shadow rounded">
           <div class="card-body">
             <h5 class="card-title text-center mb-3">{{ post.title }}</h5>
             <hr>
         <div class="link_category text-center mb-3">
           Category: <a href="{{ post.category.get_absolute_url }}" class=""> {{ post.category }}</a>
         </div>
            
             {% if post.photo %}
             <div class="photo mb-3">
               <img
                 src="{{ post.photo.url }}"
                 alt="{{ post.title }}"
                 style="width: 100%"
               />
             </div>
             {% else %}
             <img
               src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?cs=srgb&dl=pexels-luis-gomes-546819.jpg&fm=jpg"
               alt="{{ post.title }}"
               style="width: 100%"
               class="mb-3"
             />
             {% endif %}
             <a href="{{ post.get_absolute_url }}" class="card-link">Read more</a>
           </div>
         </div>
       </div>
        {% endfor %}

       {% else %}
       <h4>no posts</h4>
       {% endif %}
          </div>
        </div>
      </div>
</div>
{% endblock content %}
